dist/
build/
*.sw[op]
*.pyc
sqrl.egg-info/
*.sqlite

*.exe
EventRecorderStub.scvd
JLinkLog.txt
JLinkSettings.ini
_build/
*.uvguix.*

*.bin
*.dfu
*.elf
*.ihex
.obj
dfu.zip

.vscode/

RTE/
tmp/
tomu-quickstart/
